영화 추천

In [ ]:
#파일 직접 업로드하기
#from google.colab import files
#myfile = files.upload()

In [ ]:
#io와 pandas 모듈 import
import io
import pandas as pd

In [ ]:
#pd.read_csv로 csv파일 불러오기
df = pd.read_csv('moviedata-new.csv',encoding='euc=kr')
df.head()

,영화명,유형,장르,제작년도,감독,actor
0,두 번의 결혼식과 한 번의 장례식,극영화,코메디,2012,김조광수,"김동윤,류현경,송용진,정애연,박정표,박수영,이승준,김준범,한승도,장세현,김호연"
1,돈의 맛,극영화,드라마,2012,임상수,"김강우,윤여정,백윤식,김효진,온주완,마우이 테일러 ,달시 파켓,황정민,권병길,갈소원..."
2,내 아내의 모든 것,극영화,"멜로드라마,코메디",2012,민규동,"임수정,이선균,류승룡,이광수,김효준,이도아,김보궁,염해란,이새로미,이진희,김선하,세..."
3,할머니는 1학년,극영화,"드라마,가족",2012,진광교,"김진구,신채연,팜끼우투,김경애,김광식,김일구,황원오,백애경,조호천,장병표,유다은,문..."
4,유치원생 성폭력 예방,극영화,드라마,2012,김영한,윤혜란

In [ ]:
df.loc[0, 'actor']

'김동윤,류현경,송용진,정애연,박정표,박수영,이승준,김준범,한승도,장세현,김호연'

In [ ]:
s1='김동윤,류현경,송용진,정애연,박정표,박수영,이승준,김준범,한승도,장세현,김호연'

In [ ]:
#split함수를 통해 배우를 하나씩 분리하도록 하기

my_list = s1.split(',')
print(my_list)

['김동윤', '류현경', '송용진', '정애연', '박정표', '박수영', '이승준', '김준범', '한승도', '장세현', '김호연']

In [ ]:
type(df.loc[0, 'actor']),type(my_list)

(str, list)

In [ ]:
if '김동윤' in my_list:
    print(df.loc[0,'영화명'])

두 번의 결혼식과 한 번의 장례식

#배우이름 split

In [ ]:
#1번째 방법

In [ ]:
#배우분할이라는 이름으로 열을 하나 더 생성

for i in range(len(df['actor'])):
  df.loc[i,'배우분할']=df.loc[i,'actor']

In [ ]:
#배우 분할 열이 잘 만들어 졌는지 확인

df.loc[0,'배우분할']

'김동윤,류현경,송용진,정애연,박정표,박수영,이승준,김준범,한승도,장세현,김호연'

In [ ]:
#Series 타입의 배우분할 열을 str타입으로 바꾸고 split함수 적용
#그리고 다시 배우분할 행에 넣기
#10번째 행까지 반복

for i in range(len(df['actor'])):
  df.at[i,'배우분할']=str(df.loc[i,'배우분할']).split(',')

In [ ]:
#주,조연으로 나온 역할만 
#n명까지만 자르기

for i in range(len(df['actor'])):
 df.at[i,'배우분할']=df.loc[i,'배우분할'][0:10]

In [ ]:
#데이터가 잘 들어갔는지 확인

df

,영화명,유형,장르,제작년도,감독,actor,배우분할
0,두 번의 결혼식과 한 번의 장례식,극영화,코메디,2012,김조광수,"김동윤,류현경,송용진,정애연,박정표,박수영,이승준,김준범,한승도,장세현,김호연","[김동윤, 류현경, 송용진, 정애연, 박정표, 박수영, 이승준, 김준범, 한승도, ..."
1,돈의 맛,극영화,드라마,2012,임상수,"김강우,윤여정,백윤식,김효진,온주완,마우이 테일러 ,달시 파켓,황정민,권병길,갈소원...","[김강우, 윤여정, 백윤식, 김효진, 온주완, 마우이 테일러 , 달시 파켓, 황정민..."
2,내 아내의 모든 것,극영화,"멜로드라마,코메디",2012,민규동,"임수정,이선균,류승룡,이광수,김효준,이도아,김보궁,염해란,이새로미,이진희,김선하,세...","[임수정, 이선균, 류승룡, 이광수, 김효준, 이도아, 김보궁, 염해란, 이새로미,..."
3,할머니는 1학년,극영화,"드라마,가족",2012,진광교,"김진구,신채연,팜끼우투,김경애,김광식,김일구,황원오,백애경,조호천,장병표,유다은,문...","[김진구, 신채연, 팜끼우투, 김경애, 김광식, 김일구, 황원오, 백애경, 조호천,..."
4,유치원생 성폭력 예방,극영화,드라마,2012,김영한,윤혜란,[윤혜란]
...,...,...,...,...,...,...,...
8553,조치원 해문이,극영화,드라마,2022,최양현,"남윤호,김주연,손병호,김예령","[남윤호, 김주연, 손병호, 김예령]"
8554,Is There A Place To Buy Happiness?,극영화,드라마,2022,김운석,"김동규,전승민,조유진","[김동규, 전승민, 조유진]"
8555,그녀가 죽었다,극영화,드라마,2022,김세휘,"변요한,신혜선,이엘","[변요한, 신혜선, 이엘]"
8556,탑,극영화,드라마,2022,홍상수,"권해효,이혜영,송선미,조윤희,박미소,신석호","[권해효, 이혜영, 송선미, 조윤희, 박미소, 신석호]"
8557,달짝지근해,극영화,드라마,2023,이한,"유해진,김희선,차인표,진선규,한선화,정다은","[유해진, 김희선, 차인표, 진선규, 한선화, 정다은]"

In [ ]:
#확인 한번 더

print(df.loc[2,'배우분할'])

['임수정', '이선균', '류승룡', '이광수', '김효준', '이도아', '김보궁', '염해란', '이새로미', '이진희']

#배우 이름으로 영화 검색

In [ ]:
#방법 2
#'배우분할'열에서 이광수라는 배우 이름이 있을 경우 제작년도, 영화명, 감독 출력

for i in range(len(df['actor'])):
  if '한지민' in df.loc[i,'배우분할']:
    print(df.loc[i,'제작년도'],df.loc[i,'영화명'],df.loc[i,'감독'])

2013 플랜맨 성시흡
2014 역린 이재규
2015 장수상회 강제규
2016 밀정 김지운
2017 미쓰백 이지원
2017 두개의 빛: 릴루미노 허진호
2019 김복동 송원근
2020 조제 김종관
2021 해피 뉴 이어 곽재용